{% extends 'base/base.html' %}

{% block page_content %}

<div class="container container-xl">
  <div class="row">
      <div class="col-12">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Listado de Clientes</h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones:</div>
                <a class="dropdown-item" href="#"  onclick="return mostrar_modal('{% url 'fac:cliente_new' %}')" ><i class="fas fa-plus"></i> Nuevo</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            {% if not obj %}
            <div class="alert alert-info">No Hay Clientes</div>
            {% endif %}
            <div class="buttons-toolbar">
                <a class="dropdown-item" onclick="return mostrar_modal('{% url 'fac:cliente_new' %}')" href="#"><i class="far fa-calendar-plus"></i> Nuevo</a>
            </div>

            <table 
              id="table"
              data-toggle="table"
              data-pagination="true"
              data-search="true"
              data-show-columns="true"
              data-show-toggle="true"
              data-show-fullscreen="true"
              data-toolbar=".buttons-toolbar"
              data-locale="es-NI"
              class="table table-striped table-hover"
            >
              <thead>
                  <th data-sortable="true" data-field="id">Id</th>        
                  <th data-sortable="true" data-field="nombres">Nombres</th>
                  <th data-sortable="true" data-field="apellidos">Apellidos</th>
                  <th data-sortable="true" data-field="tipo">Tipo</th>
                  <th data-field="telefono">Teléfono</th>
                  <th data-field="estado">Estado</th>
                  <th class="all">Acciones</th>  
              </thead>
              <tbody>
                {% for item in obj%}
                <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.nombres }}</td>
                  <td>{{ item.apellidos }}</td>
                  <td>{{item.tipo}}</td>
                  <td>{{ item.celular }}</td>
                  <td >
                    <div onclick="inactivar({{item.id}})">
                      {% if item.estado %}
                        <i class="far fa-thumbs-up text-primary"></i>
                      {% else %}
                        <i class="far fa-thumbs-down text-danger"></i>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <button class="btn btn-warning btn-circle" onclick="return mostrar_modal('{% url 'fac:cliente_edit' item.id %}')"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js_page %}
<script>
      $(document).ready(function() {
      $('#table').DataTable({
        "language": {
          "sProcessing": "Procesando...",
          "sLengthMenu": "Mostrar _MENU_ registros",
          "sZeroRecords": "No se encontraron resultados",
          "sEmptyTable": "Ningún dato disponible en esta tabla",
          "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix": "",
          "sSearch": "Buscar:",
          "sUrl": "",
          "sInfoThousands": ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
              "sFirst": "<span class='fa fa-angle-double-left'></span>",
              "sLast": "<span class='fa fa-angle-double-right'></span>",
              "sNext": "<span class='fa fa-angle-right'></span>",
              "sPrevious": "<span class='fa fa-angle-left'></span>"
          },
          "oAria": {
              "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
              "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        }
      });
    });

  function inactivar(id)
  {
    var data = {id:id};
    // stringify convierte un objeto a valor de JS en una cadena de JSON
    data = JSON.stringify(data);
    //regresar el valor del token
    var token = '{{csrf_token}}';
    // alert(token);
    // alert(id);
    
    $.ajax({
      headers : {"X-CSRFToken": token},
      type:"POST",
      url:"/fac/clientes/estado/"+id,
      data: data,
      success: function(response){
        if(response==="OK")
        {
          //recargar pagina
          location.reload(true);
        }
        else{
          mensaje("Se ha producido un error");
        }
      },
      error: function(jqXHR, textStatus, errorThrow){
        console.log(textStatus, errorThrow);
        mensaje(errorThrow,'red');
        cerrar_modal();
      }
    });
  }
</script>
{% endblock %}