{% extends 'base/base.html' %}

{% block page_content %}

<div class="container container-xl">
  <div class="row">



      <div class="col-12">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Listado de Fcturas</h6>

            
           <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones:</div>
                  <a class="btn btn-success" href="{% url 'fac:factura_new' %}"><i cass="far fa-calendar-plus"></i> Nuevo</a>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <input type="text" class="form-class" name="f1" id="f1" readonly>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-class" name="f2" id="f2" readonly>
              </div>
              <div class="col-md-4">
                <button class="btn btn-warning" type="button" id="btnPrint">Imprimir</button>
              </div>
            </div>
            <hr>
          <!-- Card Body -->
          <div class="card-body">
            {% if not obj %}
            <div class="alert alert-info">No Hay Facturas</div>
            {% endif %}
            <div class="buttons-toolbar">
                <a class="dropdown-item" href="#"><i class="far fa-calendar-plus"></i> Nuevo</a>
            </div>

            <table 
              id="table"
              data-toggle="table"
              data-pagination="true"
              data-search="true"
              data-show-columns="true"
              data-show-toggle="true"
              data-show-fullscreen="true"
              data-toolbar=".buttons-toolbar"
              data-locale="es-NI"
              class="table table-striped table-hover"
            >
              <thead>
                  <th>Numero Factura</th>        
                  <th>Cliente</th>
                  <th>Total</th>
                  <th data-field="estado">Estado</th>
                  <th class="all">Acciones</th>  
              </thead>
              <tbody>
                {% for item in obj%}
                <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.cliente }}</td>
                  <td>{{ item.total }}</td>
                  <td >
                    <div onclick="inactivar({{item.id}})">
                      {% if item.estado %}
                        <i class="far fa-thumbs-up text-primary"></i>
                      {% else %}
                        <i class="far fa-thumbs-down text-danger"></i>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <a href="{% url 'fac:factura_edit' item.id %}" class="href btn btn-warning btn-circle">
                        <i class="far fa-edit"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js_page %}
<script>
      $(document).ready(function() {
      $('#table').DataTable({
        "language": {
          "sProcessing": "Procesando...",
          "sLengthMenu": "Mostrar _MENU_ registros",
          "sZeroRecords": "No se encontraron resultados",
          "sEmptyTable": "Ningún dato disponible en esta tabla",
          "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix": "",
          "sSearch": "Buscar:",
          "sUrl": "",
          "sInfoThousands": ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
              "sFirst": "<span class='fa fa-angle-double-left'></span>",
              "sLast": "<span class='fa fa-angle-double-right'></span>",
              "sNext": "<span class='fa fa-angle-right'></span>",
              "sPrevious": "<span class='fa fa-angle-left'></span>"
          },
          "oAria": {
              "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
              "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        }
      });
    });

    $(function(){
    $("#f1, #f2").datetimepicker({
        format: 'Y-m-d',
        timepicker:false
    });

    $("#btnPrint").click(function(e){
      e.preventDefault();
      var f1,f2;
      f1 = $("#f1").val();
      f2 = $("#f2").val();
      if(f1=="" || f1==null){
        f1="2019-06-01";
      }
      if(f2=="" || f2==null){
        var d = new Date();
        var f2 = d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate();
      }
      
      var url = "imprimir-todas/" + f1 + "/" + f2;

      window.open(url,'facturas');
      
    });
  });

 
</script>
{% endblock %}

