{% extends 'base/base.html' %}

{% block page_content %}


<div class="container container-xl">
    <div class="row">
        <div class="col-12">
                <!-- Dropdown Card Example -->
                <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Bitacora Recepción de Camiones</h6>
                    <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Acciones</div>
                        <a class="dropdown-item" href="#"  onclick="return mostrar_modal('{% url 'inv:bitacora_new' %}')" >Agregar</a>
                    </div>
                    </div>
                </div>
                <!-- Card Body -->
            
                <div class="card-body">
                    {% if not obj %}
                    <div class="alert alert-info">No hay Bitacora</div> 
                    {% else %} 
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>codigo</th>
                            <th>numero doc</th>
                            <th>numero_viaje</th>
                            <th>fecha recepcion</th>
                            <th>hora</th>
                            <th>subCategoria</th>
                            <th>ubicacion</th>
                            <th>inicial</th>
                            <th>final</th>
                            <th>litros_recibidos</th>
                            <th>diferencia</th>
                            <th>tk</th>
                            <th>temperatura</th>
                            <th>api</th>
                            <th>descripcion</th>
                            <th class="all">Acciones</th>
                        </thead>
                        <tbody>
                            {% for item in obj %}
                                <tr>
                                    <td>{{ item.codigo }}</td>
                                    <td>{{ item.numero_documento }}</td>
                                    <td>{{ item.numero_viaje }}</td>
                                    <td>{{ item.fecha_recepcion|date:"d/m/Y" }}</td>
                                    <td>{{ item.hora_recepcion|date:"d/m/Y" }}</td>
                                    <td>{{ item.subCategoria }}</td>
                                    <td>{{ item.ubicacion }}</td>
                                    <td>{{ item.inicial }}</td>
                                    <td>{{ item.final }}</td>
                                    <td>{{ item.litros_recibidos }}</td>
                                    <td>{{ item.diferencia }}</td>
                                    <td>{{ item.tk }}</td>
                                    <td>{{ item.temperatura }}</td>
                                    <td>{{ item.api }}</td>
                                    <td>{{ item.descripcion }}</td>
                                    <td>
                                        <a href="#" onclick="return mostrar_modal('{% url 'inv:bitacora_edit' item.id  %}')" class="btn btn-primary btn-circle" role="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="far fa-edit"></i></a>
                                        <a href="#" class="btn btn-danger btn-circle"  onclick="return mostrar_modal('{% url 'inv:bitacora_delete' item.id  %}')"  role="button" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
                </div>
        </div>
    </div>
  </div>


 
{% endblock %}

{% block js_page %}
<script>
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
      $('.table').DataTable({
        "language": {
          "sProcessing": "Procesando...",
          "sLengthMenu": "Mostrar _MENU_ registros",
          "sZeroRecords": "No se encontraron resultados",
          "sEmptyTable": "Ningún dato disponible en esta tabla",
          "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix": "",
          "sSearch": "Buscar:",
          "sUrl": "",
          "sInfoThousands": ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
              "sFirst": "<span class='fa fa-angle-double-left'></span>",
              "sLast": "<span class='fa fa-angle-double-right'></span>",
              "sNext": "<span class='fa fa-angle-right'></span>",
              "sPrevious": "<span class='fa fa-angle-left'></span>"
          },
          "oAria": {
              "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
              "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        }
      });
    });
    </script>
{% endblock %}




