{% extends 'base/base.html'%}
{% block page_content %}
    <form method="post" id="frmVentas">
        {% csrf_token %}
        <div class="col-xl-8 col-md-8 mb-12">
            {% if encabezado %}
            <div class="card border-left-warning shadow h-100 py-2">
            {% else %}
            <div class="card border-left-success shadow h-100 py-2">
            {% endif %}
                <div class="card-body ">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {% if encabezado %} Editar {% else %} Nueva {% endif %} Venta
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                    
                                    <div class="col-12">
                                        <!-- Inicio Encabezado -->
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-2 col-form-label">Proveedor:</label>
                                            <div class="col-sm-10">
                                              {{ form_encabezado.proveedor }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="id_fecha_venta">Fecha Venta:</label>
                                                    {{form_encabezado.fecha_venta}}
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_descripcion">Descripción:</label>
                                                    {{form_encabezado.observacion}}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="id_fecha_compra">Numero documento:</label>
                                                    {{form_encabezado.no_factura}}
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_fecha_factura">Fecha Documento :</label>
                                                    {{form_encabezado.fecha_factura}}
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="Sub Total">Sub Total:</label>
                                                    </div>
                                                    <div class="col">
                                                        {{ form_encabezado.sub_total }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="sub_total">Descuento:</label>
                                                    </div>
                                                    <div class="col">
                                                        {{ form_encabezado.descuento }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="total">Total:</label>
                                                    </div>
                                                    <div class="col">
                                                        {{ form_encabezado.total }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Fin Encabezado -->
                                    </div>
                                </div>
<br><br>
                                <div class="row">
                                    <div class="col-12 ">
                                        <div class="row bd-example">
                                            <div class="col ">
                                                <table class="table table-striped table-hover dt-responsive table-sm nowrap tbl-productos" style="width:100%">
                                                    <thead class="thead-table"> 
                                                        <th>Id</th>        
                                                        <th class="all">Descripción</th>
                                                        <th class="all">Acciones</th>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in productos %}
                                                        <tr>
                                                        <td>{{ item.id }}</td>
                                                        <td>{{ item.descripcion }}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-primary btn-circle"
                                                            onclick="selecionarProducto({{item.id}},'{{item.descripcion}}')" ><i class="far fa-hand-pointer"></i></button>
                                                        </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="bd-example">
                                        <div class="form-group row encabezado">
                                            <label for="id_id_producto" class="col-sm-3 col-form-label">Producto Seleccionado: </label>
                                            
                                            <div class="col-sm-2">
                                                <input type="text" readonly class="form-control-plaintext" name="id_id_producto" id="id_id_producto" value="" required>
                                            </div>
                                            <div class="col-sm-7">
                                                <input type="text" readonly class="form-control-plaintext" id="id_descripcion_producto" value="" required>
                                            </div>
                                        </div>
                                        <div class="box-calculo">
                                            <label for="id_cantidad_detalle" class="col-form-label">Cantidad:</label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" required name="id_cantidad_detalle" id="id_cantidad_detalle" value="00" required>
                                            </div>
                                            <label for="id_precio_detalle" class=" col-form-label">Precio:</label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" name="id_precio_detalle" id="id_precio_detalle" value="00" required>
                                            </div>
                                            <label for="id_descuento_detalle" class=" col-form-label">Aplicar Descuento:</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" name="id_descuento_detalle" id="id_descuento_detalle" value="00">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="box-calculo">
                                            <label for="id_sub_total_detalle" class=" col-form-label">Sub Total:</label>
                                            <div class="col-sm-12">
                                                <input type="text" readonly class="form-control-plaintext numero" name="id_sub_total_detalle" id="id_sub_total_detalle" value="00">
                                            </div>
                                   
                         
                                        </div>
                                        <br>
                                        <div class="box-calculo">
                
                                            <label for="id_total_detalle" class="col-form-label">Total con Descuento:</label>
                                            <div class="col-sm-12">
                                                <input type="text" readonly class="form-control-plaintext numero" name="id_total_detalle" id="id_total_detalle" value="00">
                                            </div>
                         
                                        </div>
                                        <!-- Botones -->
                                        <br>
                                        <div class="row">
                                            <div class="col">
                                                <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Guardar</button>
                                                <button type="button"  onclick="limpiarCampos();" class="btn btn-primary"><i class="fa fa-minus-circle" aria-hidden="true"></i> Limpiar Campos</button>
                                                <a href="{% url 'vnt:ventas_list' %}" class="btn btn-danger"><i class="far fa-hand-point-left"></i> Cancelar</a>
                                            </div>
                                        </div>
                                        <!-- Fin Botones -->
                                        </div>

                                    </div>                
                                </div>
                                <br><br>
                                <div class="row bd-example">
                                    <div class="col">
                                        <table class="table table-striped table-hover dt-responsive nowrap" style="width:100%">
                                            <thead class="thead-table"> 
                                                <th>Producto</th>        
                                                <th>Cantidad</th>
                                                <th>Precio</th>
                                                <th>Sub Total</th>
                                                <th>Desc.</th>
                                                <th>Total</th>
                                                <th class="all">Acciones</th>
                                            </thead>
                                            <tbody>
                                                {% for item in detalle %}
                                                <tr>
                                                <td>{{ item.producto }}</td>
                                                <td>{{ item.cantidad }}</td>
                                                <td>{{ item.cantidad }}</td>
                                                <td>{{ item.sub_total }}</td>
                                                <td>{{ item.descuento }}</td>
                                                <td>{{ item.total }}</td>
                                                <td>
                                                    <button class="btn btn-danger btn-circle"><i class="fas fa-trash-alt"></i></button>
                                                </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- Fin Detalle -->
                            </div>
                        </div>
                </div>
        </div>
    </form>
{% endblock %}
{% block js_page %}
<script>
    $(function () {

        $('#id_cantidad_detalle, #id_precio_detalle, #id_descuento_detalle').change(function(){
            //alert("paso 1");
            calculoDetalleVenta();
        });
        //validar envio de detalle

        $("#id_fecha_venta").datetimepicker({
            format: 'Y-m-d',
            timepicker:false
        });
      
        $("#id_fecha_factura").datetimepicker({
            format: 'Y-m-d',
            timepicker:false
        });

        $("#sidebarToggle").click();
     
});

$('.table').DataTable({
            "pageLength": 2,
            "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "<span class='fa fa-angle-double-left'></span>",
                "sLast": "<span class='fa fa-angle-double-right'></span>",
                "sNext": "<span class='fa fa-angle-right'></span>",
                "sPrevious": "<span class='fa fa-angle-left'></span>"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
            }
         
        });

function limpiarCampos(){
    $("#id_cantidad_detalle").val(0);
    $('#id_precio_detalle').val(0);
    $('#id_descuento_detalle').val(0);

    $('#id_sub_total_detalle').val(0);
    $('#id_total_detalle').val(0);

    $('#id_id_producto').val(0);
    $('#id_descripcion_producto').val(0);

    $('.table').DataTable().Search('').draw();
    $('#id_proveedor').focus();
}
$('#id_proveedor').focus();
   
function calculoDetalleVenta(){
        //alert("paso 2");
        var cantidad, precio, descuento, subTotal, total;
        //inicializar variables

        //Validacion numero negativos

        cantidad = $("#id_cantidad_detalle").val();

        console.log(cantidad);
        // si cantidad es vacio se asigna 0 si no que tome el valor de catidad. el + es para castear a numerico
        cantidad = cantidad===""? 0 : +cantidad;
        //si cantidad es menor que 0, se le asigne 0 si no que tome el valor de cantidad
        cantidad = cantidad < 0 ? 0 : cantidad;

        precio = $('#id_precio_detalle').val();
        precio = precio === ""? 0 : +precio;
        precio = precio < 0 ? 0 : precio;

        descuento = $('#id_descuento_detalle').val();
        descuento = descuento === ""? 0 : +descuento;
        descuento = descuento < 0 ? 0 : descuento;

        //el descuneto es mayor al total
        descuento = descuento > (cantidad * precio) ? 0 : descuento;

        subTotal = cantidad * precio;
        total = subTotal - descuento;

        console.log(total);

        //renderizar a los imput de la plantilla
        $("#id_cantidad_detalle").val(cantidad);
        $('#id_precio_detalle').val(precio);
        $('#id_descuento_detalle').val(descuento);
        $('#id_sub_total_detalle').val(subTotal);
        $('#id_total_detalle').val(total);

    }
    </script>
{% endblock %}