{% extends 'base/base.html' %}

{% block page_content %}


<div class="container container-xl">
    <div class="row">
      <div class="col-12">
    <!-- Dropdown Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold">Lista de Ventas</h6>
            <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones</div>
                <a class="dropdown-item" href="{% url 'vnt:ventas_new' %}" ><i class="fas fa-plus"></i> Agregar</a>
                <a class="dropdown-item" href="{% url 'vnt:ventas_print_all' %}" ><i class="fas fa-print"></i> Listado</a>
            </div>
            </div>
        </div>
        <!-- Card Body -->
    
        <div class="card-body">
            {% if not obj %}
            <div class="alert alert-info">No hay Ventas</div> 
            {% else %} 
            <table class="table table-striped table-hover">
                <thead>
                  
                    <th>Id</th>
                    <th>Fecha </th>
                    <th>Observación</th>
                    <th>N° Factura</th>
                    <th>Fecha Factura</th>
                    <th>Sub Total</th>
                    <th>Descueto</th>
                    <th>Total</th>
                    <th>Estado</th>
                   <th class="all">Acciones</th>
                </thead>
                <tbody>
                    {% for item in obj %}
                        <tr>
                            
                            <td>{{ item.id }}</td>
                            <td>{{ item.fecha_venta }}</td>
                            <td>{{ item.observacion }}</td>
                            <td>{{ item.no_factura}}</td>
                            <td>{{ item.fecha_factura }}</td>
                            <td>{{ item.sub_total }}</td>
                            <td>{{ item.descuento }}</td>
                            <td>{{ item.total }}</td>
                            <td>{{ item.estado|yesno:"Activo, Inactivo"}}</td>
                          <td>
                                <a href="{% url 'vnt:ventas_edit' item.id %}" class="btn btn-primary btn-circle" role="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="far fa-edit"></i></a>
                                <a  href="{% url 'vnt:ventas_print' item.id %}"  class="btn btn-primary btn-circle" role="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-print"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        </div>
      </div>
    </div>
  </div>


 
{% endblock %}

{% block js_page %}
<script>
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
      $('.table').DataTable({
        "language": {
          "sProcessing": "Procesando...",
          "sLengthMenu": "Mostrar _MENU_ registros",
          "sZeroRecords": "No se encontraron resultados",
          "sEmptyTable": "Ningún dato disponible en esta tabla",
          "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix": "",
          "sSearch": "Buscar:",
          "sUrl": "",
          "sInfoThousands": ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
              "sFirst": "<span class='fa fa-angle-double-left'></span>",
              "sLast": "<span class='fa fa-angle-double-right'></span>",
              "sNext": "<span class='fa fa-angle-right'></span>",
              "sPrevious": "<span class='fa fa-angle-left'></span>"
          },
          "oAria": {
              "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
              "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        }
      });
    });
    </script>
{% endblock %}